.root :global(.react-tweet-theme) :is(p, img) {
    margin: 0;
  }
  
.root :global(.react-tweet-theme) a {
    font-weight: 300;
}
  
.root :global(code[class*='language-'],
pre[class*='language-']) {
  color: #d6e7ff;
  background: #030314;
  text-shadow: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: .2px;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  text-align: left;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.root :global(pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection,
pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection) {
  color: inherit;
  background: #1d3b54;
  text-shadow: none;
}

.root :global(pre[class*='language-'])
 {
  border: 1px solid #2a4555;
  border-radius: 5px;
  padding: 1.5em 1em;
  margin: 1em 0;
  overflow: auto;
}

.root :global(:not(pre)>code[class*='language-']) {
  color: #f0f6f6;
  background: #2a4555;
  padding: 0.2em 0.3em;
  border-radius: 0.2em;
  box-decoration-break: clone;
}

.root :global(.token.comment,
.token.prolog,
.token.doctype,
.token.cdata) {
  color: #446e69;
}

.root :global(.token.punctuation) {
  color: #d6b007;
}

.root :global(.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted ){
  color: #d6e7ff;
}

.root :global(.token.selector,
.token.attr-name,
.token.builtin,
.token.inserted) {
  color: #e60067;
}

.root :global(.token.string,
.token.char ){
  color: #49c6ec;
}

.root :global(.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string) {
  color: #ec8e01;
  background: transparent;
}

.root :global(.token.atrule,
.token.attr-value,
.token.keyword) {
  color: #0fe468;
}

.token.function,
.token.class-name {
  color: #78f3e9;
}

.token.regex,
.token.important,
.token.variable {
  color: #d6e7ff;
}

.root :global(pre) {
  overflow-x: auto;
}


/**
 * Inspired by gatsby remark prism - https://www.gatsbyjs.com/plugins/gatsby-remark-prismjs/
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .code-highlight.
 */

.code-highlight {
  float: left;
  /* 1 */
  /* min-width: 100%; */
  /* 2 */
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left: 4px solid rgba(0, 0, 0, 0);
  /* Set placeholder for highlight accent border color to transparent */
}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2);
  /* Set inserted line (+) color */
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2);
  /* Set deleted line (-) color */
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(55, 65, 81, 0.5);
  /* Set highlight bg color */
  border-left: 4px solid rgb(59, 130, 246);
  /* Set highlight accent border color */
}

.code-line::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175);
  content: attr(line);
}



